
@font-face {
  font-family: 'VerdanaRef';
  src: url('VerdanaRef.eot?#iefix') format('embedded-opentype'),  url('VerdanaRef.woff') format('woff'), url('VerdanaRef.ttf')  format('truetype'), url('VerdanaRef.svg#VerdanaRef') format('svg');
  font-weight: normal;
  font-style: normal;
}
